# -------------------------
# Python
# -------------------------

__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Virtual Environment
# -------------------------

venv/
.env/

# -------------------------
# Environment Variables
# -------------------------

.env
.env.*

# -------------------------
# Logs
# -------------------------

logs/
*.log

# -------------------------
# Model Artifacts
# -------------------------

models/registry/*.pkl

# Keep metadata tracked
!models/registry/metadata.json

# -------------------------
# Kafka / Runtime Temp Files
# -------------------------

*.pid
*.lock

# -------------------------
# Jupyter
# -------------------------

.ipynb_checkpoints/

# -------------------------
# IDE
# -------------------------

.vscode/
.idea/

# -------------------------
# OS Files
# -------------------------

.DS_Store
Thumbs.db

# -------------------------
# Testing / Coverage
# -------------------------

.pytest_cache/
.coverage
htmlcov/

# -------------------------
# Build Artifacts
# -------------------------

build/
dist/
*.egg-info/

# -------------------------
# Docker
# -------------------------

docker-data/

mlruns/
mlflow_tracking/
*.log